
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./images/pexels-junior-teixeira-2047905.jpg");
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }


body {
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
}

.main {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

 .expertice {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.heading {
    color: #fff;
    border: 3px double #fff;
    margin: 30px;
    padding-top: 10px;
    width: 60%;
    height: 150px;
    display: flex;
    background:rgba(0, 0, 0, 0.42);
    backdrop-filter: blur(10px);

}

.h_heading {
    padding: 20px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    
    
    
}

img {
    border: 5px solid #1C045D;
    border-radius: 10%; 
    margin-left: 10px;
    margin-bottom: 10px;
    position: relative;
    width: 250px;

}

.me {
    background-color: #00bdfcf9;
    width: 200px;
    height: 400px;
    margin-left: 50px;
    border-radius: 20px;
    padding: 30px;
    color: #fff;
    
}

.me_2 {
      background-color: #00bdfcf9;
      width: 200px;
      height: 200px;
      margin-left: 50px;
      border-radius: 20px;
      padding: 30px;
      color: #1C045D;
      
    
}

.i_skills {
    background-color: #1C045D;
    width: 200px;
    height: 350px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 40px;
    color: #00dffcf5
}

.group_me {
    display: flex;
    align-content: center;
    padding: 40px;
    margin-left: 300px;
    width: 800px;
}

.e_skills {
    background-color: #1C045D;
    width: 200px;
    height: 150px;
    border-radius: 20px;
    margin-left: 50px;
    margin-top: 20px;
    color: #00bdfcf9;
}

ul {
    padding: 20px;
    font-weight: bold;
}

.linkedin {
    font-weight: bold; 
    text-decoration: none;
    color: #1C045D;
}
.c_space {
    font-weight: bold; 
    text-decoration: none;
    color: lime;
}

.h2_me{
    color: #1C045D;
}

.qualifications {
    background-color: #00bdfcf9;
    width: 500px;
    height: 400px;
    margin-left: 50px;
    border-radius: 20px;
    padding: 30px;
}

.qualf {
    position: sticky;
    top: 20rem;
}

.h2_qualf {
    color:#1C045D;
}

.q_list {
    background-color: #1C045D;
    width: 200px;
    height: 350px;
    border-radius: 20px;
    position: relative;
    padding: 20px;
    margin-left: 220px;
    color: #00dffcf9
}

.experience {
    background-color: #00bdfcf9;
    width: 500px;
    height: 400px;
    margin-left: 50px;
    border-radius: 20px;
    padding: 30px;

}

.exp_list {
    background-color: #1C045D;
    width: 200px;
    height: 350px;
    border-radius: 20px;
    position: relative;
    padding: 20px;
    margin-left: 220px;
    color: #00dffcf9;
}

.ex_p {
    position: sticky;
    top: 20rem;
}

.h2_exp {
    color: #1C045D;
}

.contacts {
    color: #1C045D;
    font-weight: bold;
    width: 15%;
    padding: 40px;
    text-align: center;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
    background-color: #00bdfcf9;
    margin-top: 20px;
}

.con_h2 {
    padding: 10px;
}


/* RESUME 7 CSS CODE*/

.contact-center {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-evenly;

}

.form_container {
    background: #1C045D ;
    margin-top: 40px;
    padding: 20px;
    justify-content: center;
    width: 24em;
    align-items: center;
    border-radius: 5%;
    
}

label {
    display: inline-block;
    width: 60px;
    margin: 6px;
    color: #00bdfcf9;
    font-weight: bold;

}

.message {
    width: 90%;
    height: 7.5em;
}

.input_form {
    width: 90%;
    height: 30px;
}

#submit {
    margin-top: 10px;
    width: 91%;
    height: 40px;
    background: #00bdfcf9;
    color: #1C045D;
    font-weight: bolder;
}

.h2_form {
    text-align: center;
    color: #00bdfcf9;
}

form {
    margin-left: 30px;
}

select {
    background-color: #00bdfcf9;
    color: #1C045D;
    border-radius: 5px; 
    font-size: 16px; 
    padding: 5px; 
    width: 210px;
}

.select_sub {
    padding-top: 5px;
    padding-bottom: 5px;
}

@media screen and (max-width: 300px) {

    .img {
        width: 40px;
        height: 40px;
    }
    .heading {
        width: 50%
    }
    .h_heading{
        width: 100px;
        margin-right: 2em;

}

@media screen and (max-width: 1650px) {

}

